<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ baseUrl }}/css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{ baseUrl }}/css/theme-fixes.css" type="text/css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
</head>
<body class="wy-body-for-nav">

    <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-nav-search">
                <a href="{{ baseUrl }}/" class="fa fa-home"> {{ title|default('The title') }}</a>
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                {% for sectionId, section in menu.sections %}
                    <p class="caption"><span class="caption-text">{{ section.name|raw }}</span></p>
                    <ul>
                        {% for itemId, item in section.items %}
                            <li class="toctree-l1 {{ itemId == currentMenu ? 'current' }}">
                                <a class="reference internal {{ itemId == currentMenu ? 'current' }}"
                                   href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                    {{ item.text|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

            {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
            <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                <a href="{{ baseUrl }}/">{{ title|default('The title') }}</a>
            </nav>


            {# PAGE CONTENT #}
            <div class="wy-nav-content">
                <div class="rst-content">
                    <div role="main" class="document">
                        {{ content|raw }}
                    </div>


                    <footer>
                        <hr/>
                        {% if not github is empty %}
                            <div role="contentinfo">
                                <p>
                                    Find {{ title }} on <a href="https://github.com/{{ github.user }}/{{ github.repo }}">GitHub</a>.
                                </p>
                            </div>
                        {% endif %}

                        {% if footer %}
                            {{ footer|replace({'%now%': now|date('d.m.Y'), '%year%': now|date('Y'), '%version%': "%03d"|format(version)}) }}
                        {% else %}
                            Built with <a href="http://couscous.io/">Couscous</a> using a <a href="https://github.com/CouscousPHP/Template-ReadTheDocs">theme</a> based on <a href="https://readthedocs.org/">Read the Docs</a>.
                        {% endif %}
                    </footer>

                </div>
            </div>

        </section>

    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="{{ baseUrl }}/js/theme.js"></script>

    <script>
        $(function() {
            // Syntax highlighting
            hljs.initHighlightingOnLoad();
        });
    </script>

    {% if not piwik is empty %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//{{ piwik.host }}/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 7]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//{{ piwik.host }}/piwik.php?idsite={{ piwik.siteId }}" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    {% endif %}
</body>
</html>
